files:
  "/opt/elasticbeanstalk/tasks/taillogs.d/app-logs.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      /var/log/web.stdout.log

commands:
  01_create_uploads:
    command: "mkdir -p /var/app/current/app/uploads && chmod 755 /var/app/current/app/uploads"
    ignoreErrors: true
